{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}

  {% if object %}
    Update {{ object }}
  {% else %}
    Add new Product
  {% endif %}

{% endblock title %}


{% block content %}
<div class="col-lg-12" style="display:flex">
  <div class='col-sm-4 card'>
    <div class='table-responsive'>
        <table class='table table-hover table-bordered' id='myTable'>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
              {% for saleitem in prods.salesitem_set.all %}
							<tr>
								<td>{{ saleitem.product }}</td>
                                <td>{{saleitem.quantity}}</td>
                                <td>{{saleitem.total_price}}</td>

							</tr>
						{% endfor %}
            <tr>
              <td>Total</td>
            <td colspan="3"><span id="id_total" style="float: right;">{{prods.total_order}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class='col-sm-8 card'>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
      {{ form.sales_id.label }}
    </label>
    <div class="col-sm-9">
      {{ form.sales_id | add_class:"form-control"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
      {{ form.total_amt.label }}
    </label>
    <div class="col-sm-9" >
      <td>{{ form.total_amt | add_class:"form-control"}}</td>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
      {{ form.status.label }}
    </label>
    <div class="col-sm-9">
      {{ form.status | add_class:"form-control"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
      {{ form.mode.label }}
    </label>
    <div class="col-sm-9">
      {{ form.mode | add_class:"form-control"}}
    </div>
  </div>

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Add Payment">
  {% endif %}
</form>
{{items.as_p}}
{% for radio in items.status %}
<div class="myradio">
  <label for="{{ radio.id_for_label }}">
    {{ radio.choice_label }}
    <span class="radio">{{ radio.tag }}</span>
</label>

</div>
{% endfor %}
</div>
</div>

{% endblock content %}

{% block morejs %}
<script>
$('#id_total_amt').keyup(function(){
  var newpaid=+$('#id_total_amt').val();
  var total=+$('#id_total').text();
  if (newpaid > total){
   $('#id_status option[value=""]').attr('selected', true)
    alert("Please check the total price on the side");
  }
  else if(newpaid === total){
    var status=$('#id_status');
    console.log(status[0][1].text);
    let options= document.querySelectorAll('#id_status option');
    console.log(options);
    $('#id_status option[value="FullyPaid"]').attr('selected', true)
  }
  $('#id_status option[value="PartiallyPaid"]').attr('selected', true)
}
);


</script>
{% endblock morejs %}